{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="msvalidate.01" content="D64275AB9F483B39F5D6DB438621E8EA" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block des %}{% endblock %}">
    {% include 'base/seo.html' %} 
    {% block head%}{% endblock %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/swiper.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/swipper.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-white">

<div id="loader" class="h-screen fixed z-40 left-0 w-full top-0 flex items-center bg-white dark:bg-gray-950 justify-center">
        <img src="{% static 'images/p.gif'%}" class="h-12 w-12 hidden dark:flex object-cover rounded-lg" alt="dark loader">
        <img src="{% static 'images/white.gif'%}" class="h-12 w-12  dark:hidden object-cover rounded-lg" alt="light loader">
    </div>
    

    {% include 'base/messages.html' %}
    {% include 'base/nav.html' %}
    <main class="min-h-screen" id="main">
        {% block content %}
        {% endblock %}
    </main>

{% include 'base/cookie.html' %}



    {% include 'base/footer.html' %}
    <script src="{% static 'js/flowbite.js' %}"></script>
    <script>
        window.addEventListener('load',()=>{
            document.getElementById('loader').style.display='none';
        })
    </script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
    AOS.init();
  </script>
</body>
</html>