{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="msvalidate.01" content="D64275AB9F483B39F5D6DB438621E8EA" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'base/seo.html' %} 
    {% block head%}{% endblock %}
    <!-- Fonts -->
    {% include 'fonts.html' %}
    <!--  -->
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/swiper.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/swipper.css' %}">
</head>
<body class="bg-white overflow-x-hidden">

<div id="loader" class="h-screen fixed z-40 left-0 w-full top-0 flex items-center bg-white dark:bg-gray-950 justify-center">
        <img src="{% static 'images/white.gif'%}" class="h-12 w-12  dark:hidden object-cover rounded-lg" alt="light loader">
    </div>
    

    {% include 'base/messages.html' %}
    {% block nav %}
    {% include 'base/nav.html' %}
    {% endblock %}
    <main class="min-h-screen" id="main">
        {% block content %}
        {% endblock %}
    </main>

{% include 'base/cookie.html' %}

{% include 'base/whatsapp.html' %}

    {% include 'base/footer.html' %}
    <script src="{% static 'js/flowbite.js' %}"></script>
    <script>
        window.addEventListener('load',()=>{
            document.getElementById('loader').style.display='none';
        })
    </script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
    AOS.init();
  </script>
<!-- <script>
    document.addEventListener('contextmenu', function (e) {
    e.preventDefault(); 
});

</script> -->

</body>
</html>