{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/theming.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block des %}{% endblock %}">
    <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/svg+xml">
    <link rel="icon" href="{% static 'images/logo.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/logo.png' %}" />
    <meta name="geo.region" content="UG-102" />
    <meta name="geo.placename" content="Kampala" />
    <meta name="geo.position" content="0.317714;32.581354" />
    <meta name="ICBM" content="0.317714, 32.581354" />
    {% block head%}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-white dark:bg-gray-800">

<div id="loader" class="h-screen fixed z-40 left-0 w-full top-0 flex items-center bg-white dark:bg-gray-950 justify-center">
        <img src="{% static 'images/p.gif'%}" class="h-12 w-12 hidden dark:flex object-cover rounded-lg" alt="">
        <img src="{% static 'images/white.gif'%}" class="h-12 w-12  dark:hidden object-cover rounded-lg" alt="">
    </div>
    

    {% include 'base/messages.html' %}
    {% include 'base/nav.html' %}
    <main class="min-h-screen" id="main">
        {% block content %}
        {% endblock %}
    </main>

{% include 'base/cookie.html' %}



    {% include 'base/footer.html' %}
    <script src="{% static 'js/flowbite.js' %}"></script>
    {% include 'base/themingScript.html' %}
    <script>
        window.addEventListener('load',()=>{
            document.getElementById('loader').style.display='none';
        })
    </script>
</body>
</html>