
<div id="cookieConsent" class="fixed fixed-bottom z-40 bottom-0 left-0 w-full right-0 p-4 dark:bg-gray-800 bg-white text-gray-900 shadow dark:text-white border">
    <div class="flex gap-x-10 gap-y-3 flex-col md:flex-row items-center justify-between">
        <div>
            <p class="text-sm">We use cookies on our website to provide you with a more personalized digital experience. To learn more about how we use cookies and how you can change your cookie settings.</p>
        </div>
        <div class="ml-4 flex justify-center gap-x-4 items-center w-auto">
            <button id="acceptButton" class="px-3 py-1 bg-blue-500 rounded text-sm hover:bg-blue-600 text-white focus:outline-none">Accept</button>
            <button class="px-3 py-1 ml-2 rounded text-sm border  hover:bg-gray-300 dark:hover:bg-gray-700 focus:outline-none">Learn&nbsp;More</button>
        </div>
    </div>
</div>
<script>
    const acceptButton = document.getElementById('acceptButton');
    const cookieConsent = document.getElementById('cookieConsent');
    const cookieName = "RedoCookie"; // Change the cookie name as desired
    const cookieExpirationDays = 30; // Change the expiration time in days as desired

    acceptButton.addEventListener('click', () => {
        // Set a cookie with a customizable expiration date
        const expirationDate = new Date();
        expirationDate.setDate(expirationDate.getDate() + cookieExpirationDays);

        document.cookie = `${cookieName}=true; expires=${expirationDate.toUTCString()}; path=/`;

        // Hide the cookie consent popup
        cookieConsent.style.display = 'none';
    });

    // Check if the user has previously accepted the cookie
    const cookies = document.cookie.split('; ');
    cookies.forEach(cookie => {
        const [name, value] = cookie.split('=');
        if (name === cookieName && value === 'true') {
            cookieConsent.style.display = 'none';
        }
    });
</script>

