{% load static %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Redo Developers Inc.",
    "alternateName": "Redo Developers",
    "url": "https://www.redodevelopers.site/",
    "description": "Innovative technology solutions driving growth. Redo Developers Inc. - Your partner in software excellence.",
    "image": "{% static 'images/512.png' %}",
    "logo": "{% static 'images/512.png' %}",
    "sameAs": [
        "https://www.facebook.com/redodevelopersinc",
        "https://twitter.com/redodevs",
        "https://www.linkedin.com/company/redodevelopersinc"
    ]
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Redo Developers Inc.",
    "legalName": "Redo Developers Inc.",
    "url": "https://www.redodevelopers.site/",
    "logo": "{% static 'images/512.png' %}", 
    "description": "Redo Developers Inc. is a multinational technology company specializing in innovative software solutions.",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Makerere",
        "addressLocality": "Kampala",
        "addressRegion": "Makerere",
        "postalCode": "10011",
        "addressCountry": "Uganda"
    },
    "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+256779730256",
        "contactType": "customer service",
        "email": "support@redodevelopers.site"
    }
}
</script>
