{% load static %}
<header class=" shadow fixed z-40 left-0 top-0 w-full bg-white py-3">
    <div id="first" class="pb-4 pt-1 px-8 max-w-5xl mx-auto flex text-xs items-center justify-between gap-5">
        <div class="flex items-center hover:text-primary-500 justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            <a href="{% url 'sales' %}" class="hover:underline">Contact sales</a>

        </div>
        <div class="flex items-center gap-5">
            <a class="hover:text-primary-500 hover:underline" href="{% url 'contact' %}">Customer support</a>



<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="flex items-center" type="button">About <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg></button>
<!-- Dropdown menu -->
<div id="dropdownHover" class="z-10 text-sm hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
      <li>
        <a href="{% url 'about' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">About us</a>
      </li>
      <li>
        <a href="{% url 'carrer' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Carrers</a>
      </li>
      <li>
        <a href="{% url 'ceo' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Word from Chairman</a>
      </li>
      
    </ul>
</div>




        </div>
        
    </div>
    <nav id="nav" class="bg-white  border-gray-200 px-4 lg:px-6 py-2 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="{% url 'home' %}" class="flex items-center">
                <img src="{% static 'images/logo.svg' %}" class="mr-3 h-9" alt="Redo Developers Inc. Logo" />
                <span class="self-center hidden md:block text-xl font-medium whitespace-nowrap dark:text-white">Redo Developers Inc.</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="{% url 'meeting' %}" type="button" class="text-primary-500  hover:text-white border border-primary-500 hover:bg-primary-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-sm text-sm px-5 py-2 text-center mr-4 dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-500 uppercase dark:focus:ring-primary-800">Request DEMO</a>
                
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    
                    
                    
                    
                    
                    
                    
                    
                     <!-- <li>
                    <button id="mega-menu-icons-dropdown-button" data-dropdown-toggle="mega-menu-icons-dropdown" data-dropdown-trigger="hover"  class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-primary-600 md:p-0 dark:text-white md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-primary-500 md:dark:hover:bg-transparent dark:border-gray-700">
                        Software 
                        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
                    </button>
                    <div   id="mega-menu-icons-dropdown" class="absolute z-10  hidden w-auto grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700 md:grid-cols-3 dark:bg-gray-700">
                        <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                            <ul class="space-y-4" aria-labelledby="mega-menu-icons-dropdown-button">
                                <li>
                                    <a href="https://hsync.redodevelopers.site" class="flex items-center text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500 group">
                                        Hsync HMS 
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </li>
                                -->
                    
                    
                    
                    
                    
<!--                     
                  <li>
                    
                    
                   <button id="dropdownHoverButton1" data-dropdown-toggle="dropdownHover1" data-dropdown-trigger="hover" class="flex items-center" type="button">Resources <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg></button>
<!-- Dropdown menu --
<div id="dropdownHover1" class="z-10 text-sm hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton1">
      <li>
        <a href="{% url 'about' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Why Redo Developers Inc.</a>
      </li>
      <li>
        <a href="{% url 'about' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">What's new</a>
      </li>
      <li>
        <a href="{% url 'about' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Partner  Program</a>
      </li>
      
    </ul>
</div>

 
             </li>       
                    
                      
                    
                    
                    
                    
                    
                    
                    <li>
                        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-500 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Blog</a>
                    </li> -->
                     
                </ul>
            </div>
        </div>
    </nav>


    <script>
        // JavaScript to hide/show the div on scroll
        window.addEventListener("scroll", function() {
            var scrollingDiv = document.getElementById("first");
            if (window.scrollY > 0) {
                scrollingDiv.style.display = 'none';
            } else {
                scrollingDiv.style.display = 'flex';
            }
        });
    </script>


</header>


