{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'images/apple-icon-180.png' %}" sizes="180x180" />

<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

<meta name="keywords" content="redo, software solutions, innovation, excellence, success, business,digital, future, journey">

<meta name="language" content="en" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WQML7D7LLB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WQML7D7LLB');
</script>




