{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'images/apple-icon-180.png' %}" sizes="180x180" />

<meta name='robots' content='index, follow, max-snippet:-1, max-video-preview:-1' />

<meta name="language" content="en" />

<link rel="canonical" href="{{request.build_absolute_uri}}" />

<title>{{title}}</title>

<meta name="description" content="{{description}}">


<!-- OG Tags -->
<meta property="og:title" content="{{og_title}}" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:image" content="{{image}}" />
<meta property="og:type" content="{{og_type}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="Redo Developers Inc.">
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@redodevs" />
<meta name="twitter:title" content="{{og_title}}" />
<meta name="twitter:description" content="{{description}}" />
<meta name="twitter:image" content="{{image}}" />
<meta name="twitter:image:alt" content="Redo Developers Inc. Logo" />
<!--  -->




    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://redodevelopers.site/",
      "logo": "https://theetawee.github.io/company_staticfiles/images/512.png"
    }
    </script>
