{% extends 'base/base.html' %}
{% load static %}


{% block head %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Redo Developers Inc.",
        "item": "https://redodevelopers.site/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "About us",
        "item": "https://redodevelopers.site/company/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "CEO"
      }]
    }
    </script>
  

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "Who is the Owner of Redo Developers Inc.?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Redo Developers Inc. was founded by Khaotungkulmethee Pattawee Drake in 2021 under the name Redo IO. In 2023, it underwent a rebranding and emerged as Redo Developers Inc. Pattawee Drake is the visionary founder and owner of the company."
      }
    }
  ]
}
</script>

  
{% endblock %}

{% block nav %}

<header class="z-40">
    <nav class="flex items-center justify-between  gap-6 p-4 max-w-4xl mx-auto">
        <div class="w-full">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" class="w-10 h-10" alt="">
            </a>
        </div>
        
    </nav>
</header>

        
{% endblock %}

{% block content %}

<section class="bg-white dark:bg-dark-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
        <h1 class="mb-4 text-4xl font-medium leading-10 text-stone-800 dark:text-white">Khaotungkulmethee Pattawee: Co-Founder and Chairman</h1>
        <div class="py-10 grid grid-cols-1 md:grid-cols-2 bg-[#f3eeea] rounded-md shadow-md">
            <div>
                <img src="{% static 'images/thoe.png'%}" class="w-full h-96 object-contain" alt="Khaotungkulmethee Pattawee Drake, Owner of Redo Developers Inc.">
            </div>
            <div class="py-6 px-8">
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Full Name:</strong> Khaotungkulmethee Pattawee (Thai: ค่าตังกุลเมธี พัฒวี)</p>
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Other Name:</strong> Drake</p>
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Date of Birth:</strong> March 5, 2004</p>
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Place of Birth:</strong> Chiang Mai, Thailand</p>
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Nationality:</strong> Thai/Ugandan</p>
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Occupations:</strong> 
        <ul class="list-disc ml-6">
            <li>Software Developer</li>
            <li>Author and Writer</li>
        </ul>
    </p>
    <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Years Active:</strong> 2021 - Present</p>
    <!-- <p class="mb-3 text-lg text-gray-600 dark:text-gray-400"><strong>Biography:</strong> 
        [Add a brief biography or summary of achievements, projects, or contributions by Pattawee here. You can provide more details about his educational background, career milestones, notable works, or any other relevant information.]
    </p> -->
</div>

        </div>
        <div class="py-8">
            <p class="mb-6 text-gray-600 dark:text-gray-400">Meet Khaotungkulmethee Pattawee Drake, one of the visionary entrepreneurs, and the driving force behind Redo Developers Inc. As a Co-Founder, and Chairman, he leads the company with a passion for innovation and a commitment to excellence.</p>
            <p class="mb-6 text-gray-600 dark:text-gray-400">Under Pattawee's leadership, Redo Developers Inc. has evolved from its inception in 2021 as Redo IO into a dynamic and influential player in the technology and software industry. His visionary approach has led to the company's rebranding in June 2023, expanding its services to pioneer immersive social experiences and cutting-edge technology solutions.</p>
            <p class="mb-6 text-gray-600 dark:text-gray-400">Pattawee's journey in technology commenced in the enchanting city of Chiang Mai, Thailand. With a strong foundation in computer science, he embarked on a global quest for knowledge and innovation. In 2021, he relocated to Makerere, Uganda, to further his studies in Medical Laboratory Technology, a testament to his dedication to both technology and healthcare.</p>
            <p class="mb-6 text-gray-600 dark:text-gray-400">As a tech visionary, Pattawee envisions a world where technology seamlessly integrates into daily life, creating meaningful and efficient solutions. His leadership has transformed challenges into opportunities, resulting in groundbreaking solutions that enhance user experiences, streamline workflows, and push the boundaries of innovation.</p>
            <p class="mb-8 text-gray-600 dark:text-gray-400">Experience the dynamic fusion of technology, innovation, and immersive social experiences crafted by Pattawee and the Redo Developers Inc. team. Join us in exploring the future of innovation and discover how Pattawee's leadership is reshaping the world of technology and software solutions.</p>
            <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <!-- Add any additional content or links here if needed -->
            </div>
        </div>
    </div>
</section>


{% endblock %}