{% load static %}


<div class="swiper h-full md:max-h-[50vh] w-full overflow-hidden lg:max-h-[80vh]">
    <div class="swiper-wrapper">
    <div class="swiper-slide ">


<section class="bg-white dark:bg-gray-900 flex items-center justify-center">
    <div class="gap-8 md:items-end px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 py-8 md:pt-16 lg:px-6">
        <img src="{% static 'images/tech.webp' %}" alt="Taking a lead in tech" class="rounded-lg shadow-sm w-full h-[300px] md:h-full object-cover">
        <div class="mt-4 md:mt-0">
            <h1 class="max-w-4xl mb-4 text-4xl text-gray-600 dark:text-white font-[700] tracking-tight leading-none">
                <span class="dark:text-orange-400 text-orange-500">Redo&nbsp;io.</span> - Pioneering the Future of Software</h1>
            <p class="max-w-2xl mb-6 text-teal-600 dark:text-white font-light lg:mb-8 md:text-lg lg:text-xl">At Redo io, we're not just a software company; we're architects of innovation, builders of digital dreams, and creators of transformative solutions. With an unwavering commitment to excellence, we craft software that fuels businesses, drives growth, and shapes the future.</p>
            <div class="text-center">
                <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Explore Our Vision</button>
            </div>
        </div>
    </div>
</section>





    </div>
    <div class="swiper-slide">



<section class="bg-white dark:bg-gray-900 flex items-center justify-center">
    <div class="gap-8 md:items-end px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 py-8 md:pt-16 lg:px-6">
        <img src="{% static 'images/iot.webp' %}" alt="Taking a lead in IoT" class="rounded-lg shadow-sm w-full h-[300px] md:h-full object-cover">
        <div class="mt-4 md:mt-0">
            <h2 class="max-w-4xl mb-4 text-4xl text-gray-600 dark:text-white font-[700] tracking-tight leading-none">
                Expanding into the World of IoT</h2>
            <p class="max-w-2xl mb-6 text-teal-600 dark:text-white font-light lg:mb-8 md:text-lg lg:text-xl">
                We are on the cusp of an exciting new venture - the Internet of Things (IoT). As we prepare for the future, our commitment to excellence remains unwavering. We're dedicated to shaping the IoT landscape with groundbreaking solutions that will redefine industries and shape a more connected world.</p>
            <div class="text-center">
                <a href="{% url 'iot' %}" type="button"
                    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Join Us on the IoT Journey</a>
            </div>
        </div>
    </div>
</section>



    </div>
    </div>

</div>


<script>
    // Function to initialize Swiper with the appropriate direction
    function initSwiper() {
        const isLargeScreen = window.innerWidth >= 758; // You can adjust the breakpoint as needed
        const direction = isLargeScreen ? 'vertical' : 'horizontal';

        const swiper = new Swiper('.swiper', {
            direction: direction,
            loop: true,
            autoplay: {
                delay: 10000, // Autoplay delay in milliseconds
            },
            navigation: {
                nextEl: null, // Remove next button
                prevEl: null, // Remove prev button
            },
            
        });
    }

    // Initialize Swiper when the page loads
    window.addEventListener('load', initSwiper);

    // Reinitialize Swiper when the window is resized
    window.addEventListener('resize', initSwiper);
</script>
