{% extends 'base/base.html' %}
{% block title %}Empowering Dreams, One Algorithm at a Time | Redo io.{% endblock %}
{% block content %}
{% load static %}
<style>
    .hero-animated {
        background: url("{% static 'images/hero-bg.png'%}") center center;
    }
</style>

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="{% static 'images/hero-carousel-3.svg' %}" class="img-fluid animated">
      <h2>Unleash Your Potential with <span>Redo&nbsp;io.</span></h2>
      <p>Embark on a journey of digital transformation. Our cutting-edge software solutions are designed to elevate your business to new heights.</p>
      <div class="d-flex">
        <a href="{% url 'services' %}" class="btn-get-started scrollto">Explore Our Services</a>
        <a href="{% url 'contact' %}" aria-label="Make a phone call" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-headset"></i><span>Get a Free Consultation</span></a>
      </div>
    </div>
  </section>

  <main id="main">

    {% include 'main/about.html' %}
{% include 'utils/features.html' %}
    

{% include 'utils/stat.html' %}
{% include 'utils/cta.html' %}
</main>

{% endblock %}