@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Redo Font';
  font-style: normal;
  font-weight: 300;
  src: url('https://files.redodevelopers.site/css/fonts/titillium-web-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* titillium-web-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Redo Font';
  font-style: italic;
  font-weight: 300;
  src: url('https://files.redodevelopers.site/css/fonts/titillium-web-v17-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* titillium-web-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Redo Font';
  font-style: normal;
  font-weight: 400;
  src: url('https://files.redodevelopers.site/css/fonts/titillium-web-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* titillium-web-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Redo Font';
  font-style: normal;
  font-weight: 600;
  src: url('https://files.redodevelopers.site/css/fonts/titillium-web-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* titillium-web-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Redo Font';
  font-style: italic;
  font-weight: 600;
  src: url('https://files.redodevelopers.site/css/fonts/titillium-web-v17-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* titillium-web-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Redo Font';
  font-style: normal;
  font-weight: 700;
  src: url('https://files.redodevelopers.site/css/fonts/titillium-web-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
font-family: 'Redo Font', sans-serif;}

.active{
  @apply block py-2 pr-4 pl-3 text-white rounded bg-primary-500 lg:bg-transparent lg:text-primary-500 lg:p-0 dark:text-white;
}

.link{
  @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700;
}

.link:hover{
  @apply block py-2 pr-4 pl-3 text-white rounded bg-primary-500 lg:bg-transparent lg:text-primary-500 lg:p-0 dark:text-white;
}