{% load static %}
<!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Ready to Elevate Your <em>Business?</em></h3>
            <p> Explore our range of solutions and discover how we can help you achieve your goals.</p>
            <a class="cta-btn align-self-start" href="#">Get in Touch</a>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="{% static 'images/cta.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Call To Action Section -->
